# Mengabaikan node_modules
node_modules/

# Mengabaikan file lingkungan
.env

# Mengabaikan file log
*.log

# Mengabaikan file build
dist/
build/

# Mengabaikan file temporary
*.tmp
*.swp

# Mengabaikan file konfigurasi sistem
.DS_Store
*.DS_Store

# Mengabaikan direktori yang tidak diperlukan
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
AppData/
Cataract_Detection-using-CNN/
Client/
Currency-Detection-App/
CurrencyDetectorAndroid/
Daily-News-Flutter-App/
Development/
Flutter-Development/
Flutter-Object-Detector-App-YOLOv5-/
Flutter/
Graduation--project-Medical-Corner--master/
IntelGraphicsProfiles/
Jedi/
LabelImg/
NTUSER.DAT
NTUSER.DAT{*}.TM.blf
NTUSER.DAT{*}.TMContainer*.regtrans-ms
Object-Detection-Web-App-Using-YOLOv7-and-Flask/
Object-Tracking-Counter/
Orion/
Orionictech/
Orionid/
Orionidtech/
Oriontech/
Personal Project/
Portfolio/
Project/
StudioProjects/
TFLite-Object-Detection-Android-App-Tutorial-Using-YOLOv5/
Tracing/
Trainingszzszs.ipynb
Untitled.ipynb
Untitled1.ipynb
Weather-Station-ESP32-Project-Flutter/
__pycache__/
abadi_app/
abadinursery/
anaconda3/
backend-abadi/
backend-beras/
bashturbation/
belajar-dart-unit-test/
belajar_packages/
beras_app/
bfg.jar
chat_apps/
class_2/
commands/
dart_generic/
dart_sesi1/
data_rizka/
database.sql
debenih_release/
dimas-thesis/
discord-music/
edit-foto.zip
edit-foto/
edo_project/
env/
examples/
ff/
final/
flutter-weather/
flutter_dasar1/
flutter_realtime_object_detection/
flutter_section2/
ftc-forum-flutter-app/
funny-project/
galers/
go/
gojek/
hd-web/
lib/
libraries/
localsend/
lucuuk/
lungs-classification/
lungsapp/
luthfi-thesis/
mataku/
meaw/
meow/
my_app/
object-detection-web-app/
object-detector/
object_detection/
package-lock.json
patient-classification/
pb/
provider-selesai/
provider_flutter/
raspb_theo/
rawr - Copy/
rawr.bfg-report/
rawr/
ray-fix/
ray-marshel-mobile/
rayunsada/
requirements.txt
rino-incubator/
rizka_thesis/
rizky-thesis/
runs/
ruth-backup/
sample/
section_2/
silicon/
skripsiedo_flutter/
source/
test_shimmer/
testroboflow/
tflite-ray/
tflite/
theo/
thesisproject1/
training-wilson/
tugasrino/
weathers/
whatsapp-services/
whatsgpt/
wilson-training.zip
wilson-training/
yolov8-flask/
youtube_firebase_http_request/

# Mengabaikan file pribadi
*.xml
.anaconda/
.android/
.arduinoIDE/
.bash_history
.codeium/
.conda/
.condarc
.config/
.continuum/
.docker/
.dotnet/
.emulator_console_auth_token
.ghidra/
.gradle/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.lesshst
.matplotlib/
.redhat/
.ssh/
.upm/
.viminfo
.virtual_documents/
.vscode/
.vercel/